form{
    background: #333;
    height: auto;
    text-align: center;
}

.Align{
    margin-left: 50px;
}

.Errors{
    margin-left: 10%;
    list-style-position: inside;
    list-style-type: disc;
    color: white;
    text-align: left;
}

.form-inline{
    margin-bottom: 7px;
}

.BtnContainer{
    height: 40px;
    display: flex;
    justify-content: space-around;
    margin-right: 80px;
}

.btn-primary{
    color: black;
    background: #85BB65;
    margin: 1px solid #85BB65;
}

.btn-primary:hover{
    background: green;
}

