.Modal{
    z-index: 500;
    border: 1px solid black;
    height: 50%;
    width: 500px;
    position: absolute;
    left: 30%;
    top: 20%;
    animation: slide 0.5s 1 ease-in-out;
}

@keyframes slide{
    
    0%{
        top: -80%;
    }

    100%{
        top: 20%;
    }

}