
.Container{
        background-color: #fff;
        padding: 3rem;
        display: flex;
        flex-direction: column;
        width: 50% auto;
        position: relative;
        margin-top: calc(10vh + 30px);
        margin-left: calc(10vw + 100px);
        margin-right:calc(10vw + 100px);
        z-index: 100;
}

FormHelperText{
    color: red;
}

form{
    background: none;
}

.TextField{
    width: 30% auto;
}

.Link{
    background:none!important;
     border:none; 
     padding:0!important;
    
    font-family:arial,sans-serif; 
     color:#069;
     text-decoration:underline;
     cursor:pointer;
} 

.Buttons{
    margin-top: 2rem;
}


