
.Body{
}

.AfterCard{
  position: relative;
}

.pagination{
  position: absolute;
  top: 30%;
  left: 40%;
  display: inline-flex;
}

.pagination a {
  text-decoration: none;
  color:white;
  background: black;
  float: center;
  padding: 8px 16px;
}

.pagination a.active{
    background: #008510;
    
}



.container{
  justify-content: space-between;
  display: flex;
  padding: 20px;
  flex-direction: column;
  font-size:15px;
}